@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed:700|Ubuntu');

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Lato';
}
.nav{
    background-color: #F6EEFD;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    color: rebeccapurple !important;
    /*    padding: 1em;*/
    /*    background-color: aqua;*/
}

.nav-link {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.9rem;
    margin: 1rem;
    color: black !important;
}

.nav-link:hover {
    color: rgb(199, 49, 23) !important;
}

.container-fluid{
    margin-bottom: 2rem;
}

.site-content{
    background-image:url('../img/dp.jpg');
    background-attachment:fixed;
    background-size:cover;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
 
}

.site-title, .site-desc{
    color: white;
    font-family:'Righteous'; 
}

.rounded-circle {
    
     /* margin-top: 60px ; */
    margin-top: 75px;
    margin-bottom: 10px;
    /* margin-right: 25px; 
    margin-left: 25px;
    margin-bottom: 25px; */
    width: 250px;
    height: 250px;
}

.s3{
    margin-top: 1rem;
}

.s4{
    /* margin: 1rem; */
    margin: 1rem;
    padding: 2rem;
} 

.page-footer{
   background-color:#DBC0F9;
   text-align: center;
   margin-top: 2rem;

}

/* 
.row{
    margin-top: 5rem;
}

.site-title{
    margin-top: 30%;
    margin-bottom: 5%;
    font-size: 4em;
}

.site-desc{
    font-size: 1.2rem;
    padding-left: 15%;

} */

.card{
    padding: 20px;
}
.section-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}




.card{
    /* padding: 50px; */
    margin: 5em;
}

.card:hover{
    -webkit-box-shadow: -1px 9px 90px -12px rgba(150, 22, 22, 0.822);
    -moz-box-shadow: -1px 9px 90px -12px rgba(150, 22, 22, 0.822);
    box-shadow: -1px 9px 90px -12px rgba(150, 22, 22, 0.822);
}




.fa-html5{
    color: orange;
}
.fa-css3{
    color: purple;
}
.fa-js{
    color: yellowgreen;
}
.fa-sass{
    color: rgb(209, 113, 129);
}
.fa-python{
    color: orange;
}
.fa-php{
    color: blue;
}

.fa-twitter{
    color:#38A1F3;
}

.fa-instagram{
    color:#e4405f ;
}

.fa-facebook{
    color:blue;
}

.fa-linkedin{
    color:#0077B5 ;
}

.fa-google-plus{
    color:#dd4b39 ;
}





/*---Media Queries --*/
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}
