@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed:700|Ubuntu');

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Lato';
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    color: rebeccapurple !important;
    /*    padding: 1em;*/
    /*    background-color: aqua;*/
}

.nav-link {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.9rem;
    margin: 1rem;
    color: black !important;
}

.nav-link:hover {
    color: rgb(199, 49, 23) !important;
}



.site-content{
    background-image:url('../img/dp.jpg');
    background-attachment:fixed;
    background-size:cover;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
 
}

.site-title, .site-desc{
    color: white;
    font-family:'Righteous'; 
}

.rounded-circle {
    
    /* margin-top: 60px ;
    margin-right: 110px; */
    /* width: 50%;
    height: 50%; */
}

.s3{
    margin-top: 5rem;
}
/* 
.row{
    margin-top: 5rem;
}

.site-title{
    margin-top: 30%;
    margin-bottom: 5%;
    font-size: 4em;
}

.site-desc{
    font-size: 1.2rem;
    padding-left: 15%;

} */

.card{
    padding: 20px;
}
.section-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-3{
    margin: 2rem;
    
}


.card{
    /* padding: 50px; */
    margin: 5em;
}

.card:hover{
    -webkit-box-shadow: -1px 9px 90px -12px rgba(150, 22, 22, 0.822);
    -moz-box-shadow: -1px 9px 90px -12px rgba(150, 22, 22, 0.822);
    box-shadow: -1px 9px 90px -12px rgba(150, 22, 22, 0.822);
}




.fa-html5{
    color: orange;
}
.fa-css3{
    color: purple;
}
.fa-js{
    color: yellowgreen;
}
.fa-sass{
    color: rgb(209, 113, 129);
}
.fa-python{
    color: orange;
}
.fa-php{
    color: blue;
}

/*---Media Queries --*/
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}
